<ul>
  <p>1P</p>
  <li>
    <select [(ngModel)]="p1_type">
      <option [value]="'player'">プレイヤー</option>
      <option [value]="'cpu'">CPU</option>
    </select>
  </li>
  <li>
    <p>色</p>
    <select [(ngModel)]="p1_side" (change)="onChangeSelect('p1_side');">
      <option [value]="'black'">黒</option>
      <option [value]="'white'">白</option>
    </select>
  </li>
</ul>
<ul>
  <p>2P</p>
  <li>
    <select [(ngModel)]="p2_type">
      <option [value]="'player'">プレイヤー</option>
      <option [value]="'cpu'">CPU</option>
    </select>
  </li>
  <li>
    <p>色</p>
    <select [(ngModel)]="p2_side" (change)="onChangeSelect('p2_side');">
      <option [value]="'black'">黒</option>
      <option [value]="'white'">白</option>
    </select>
  </li>
</ul>
<button (click)="startGame();">ゲーム開始！</button>
