<ul>
  <p>1P設定</p>
  <label for="">プレイヤー名</label>
  <input type="text" [(ngModel)]="p1Name" [value]="'p1Name'" placeholder="プレイヤー1">
  <li>
    <label>プレイヤー種別</label>
    <select [(ngModel)]="p1Type">
      <option [value]="'player'">プレイヤー</option>
      <option [value]="'cpu'">CPU</option>
    </select>
  </li>
  <li>
    <label>色</label>
    <select [(ngModel)]="p1Side" (change)="onChangeSelect('p1Side');">
      <option [value]="'black'">黒</option>
      <option [value]="'white'">白</option>
    </select>
  </li>
</ul>
<ul>
  <p>2P設定</p>
  <label>プレイヤー名</label>
  <input type="text" [(ngModel)]="p2Name" [value]="'p2Name'" placeholder="プレイヤー2">
  <li>
    <label>プレイヤー種別</label>
    <select [(ngModel)]="p2Type">
      <option [value]="'player'">プレイヤー</option>
      <option [value]="'cpu'">CPU</option>
    </select>
  </li>
  <li>
    <label>色</label>
    <select [(ngModel)]="p2Side" (change)="onChangeSelect('p2Side');">
      <option [value]="'black'">黒</option>
      <option [value]="'white'">白</option>
    </select>
  </li>
</ul>
<button (click)="startGame();">ゲーム開始！</button>
