.black {
  background-color: black;
  border: solid 5px black;
  margin: 10px;
  mat-list-item {
    color: white;
  }
}

.white {
  background-color: white;
  border: solid 5px black;
  margin: 10px;
  mat-list-item {
    color: black;
  }
}
