<mat-card [ngSwitch]="setting.status" class="{{ setting.player }}">
  <mat-list>
    <mat-list-item *ngSwitchCase="'boot'">オセロ準備中...</mat-list-item>
    <mat-list-item *ngSwitchCase="'playing'">
      [ {{ setting.player === 'black' ? '黒' : '白' }} ] {{setting[setting.player].playerName}}のターン
    </mat-list-item>
    <mat-list-item *ngSwitchCase="'overed'">{{winnerText}}</mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>黒：{{setting.black.piece}}枚</mat-list-item>
    <mat-list-item>白：{{setting.white.piece}}枚</mat-list-item>
  </mat-list>
</mat-card>
